{% extends "layout.html" %}

{% block content %}

<style>
    /* Style for the div */
    .info-box {
        background-color: rgba(255, 255, 255, 0.5);
        border: 2px solid #333;
        padding: 10px;
    }


    /* Add padding to make space for the fixed navbar */
    .content {
        padding-top: 40px; /* Adjust this value based on the height of your navbar */
    }
</style>

<!-- Logo in place of the title -->

<div class="content">
  <h1>Email us!</h1>
       <p>Smart systems. Precise databases. Complex solutions.</p>
    <button class="btn btn-outline-info btn-sm"><a href="mailto:grigori7519@gmail.com">Get in Touch</a></button>

</div>


  <!-- More content goes here -->


{% endblock content %}